global
    log 127.0.0.1 local0
    log 127.0.0.1 local1 notice
    maxconn 4096
    daemon

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

# Statistics page
listen stats
    bind *:1936
    mode http
    stats enable
    stats uri /
    stats realm Haproxy\ Statistics
    stats auth admin:admin

# AMQP frontend for load balancing RabbitMQ
frontend rabbitmq_front
    bind *:5670
    mode tcp
    default_backend rabbitmq_back

# RabbitMQ management UI frontend
frontend rabbitmq_mgmt_front
    bind *:15670
    mode tcp
    default_backend rabbitmq_mgmt_back

# Load balancing for RabbitMQ AMQP
backend rabbitmq_back
    mode tcp
    balance roundrobin
    option tcpka
    option tcp-check
    timeout client 3h
    timeout server 3h
    server rabbitmq1 rabbitmq1:5672 check inter 5s rise 2 fall 3
    server rabbitmq2 rabbitmq2:5672 check inter 5s rise 2 fall 3
    server rabbitmq3 rabbitmq3:5672 check inter 5s rise 2 fall 3

# Load balancing for RabbitMQ management UI
backend rabbitmq_mgmt_back
    mode tcp
    balance roundrobin
    option tcpka
    server rabbitmq1 rabbitmq1:15672 check inter 5s rise 2 fall 3
    server rabbitmq2 rabbitmq2:15672 check inter 5s rise 2 fall 3
    server rabbitmq3 rabbitmq3:15672 check inter 5s rise 2 fall 3


